<div id="content" class="clearfix">
<div class="section">
<div class="article" id="admin-tool">
<h1>Guests Model</h1>
<div>
<table>
  <tr>
	<th>ID</th>
    <th>Last name</th>
    <th>First name</th>
    <th>Type</th>
    <th>Picture</th>
    <th></th>
  </tr>

<% @guests.each do |guest| %>
  <tr>
	<td><%= guest.id %></td>
	<td><%= guest.last_name %></td>
    <td><%= guest.first_name %></td>
    <td><%= guest.datatype %></td>
    <td><%= guest.picture %></td>
    <td><%= link_to 'Show', guest %> <%= link_to 'Edit', edit_guest_path(guest) %> <%= link_to 'Destroy', guest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Guest', new_guest_path %>
</div>
</div>
</div>
</div>