<div class="article" id="announcement">
	<h3><%=t 'announcement.h0'%></h3>
	<div class="content">
		<div>
			<h4><%=t "announcement.h5" %></h4>
			<p>
				<%=t "announcement.p5" %>
			</p>
			<p class="date">
				March 15, 2012
			</p>
		</div>
		<div>
			<h4><%=t "announcement.h4" %></h4>
			<p>
				<%=t "announcement.p4" %>
			</p>
			<p class="date">
				March 5, 2012
			</p>
		</div>
		<div>
			<h4><%=t "announcement.h3" %></h4>
			<p>
				<%=t "announcement.p3" %>
			</p>
			<p class="date">
				February 20, 2012
			</p>
		</div>
		<div>
			<h4><%=t "announcement.h2" %></h4>
			<p>
				<%=t "announcement.p2" %>
			</p>
			<p class="date">
				February 7, 2012
			</p>
		</div>
		<div>
			<h4><%=t "announcement.h1" %></h4>
			<p>
				<%=t "announcement.p1" %>
			</p>
			<p class="date">
				January 29, 2012
			</p>
		</div>
	</div>
	<div class="arrow-nav">
		<a href="#" class="up up-inactive"></a><a href="#" class="down"></a>
	</div>
</div>
