<% if layout_type == 0 %>
	<% speakers.each do |guest| %>
		<div class="speaker-info">
			<div class="speaker has-image">
            <div class="image"><%= image_tag guest.picture %></div>
				<div class="bio">
	              <h3><%= guest.full_name %></h3>
					<div class="people-interested">
                      <% if guest.user_ids.include? session[:user_id] %>
                        <div class="button-gray-inactive">You <% if guest.users.count > 1 %>and <%= pluralize(guest.users.count - 1, 'person') %> <% end %>are following</div>
                      <% else %>
                        <div class="button-gray-inactive" data-role="follower-count"><%= pluralize(guest.users.count, 'person is', 'people are') %> following</div>
						<% if session[:user_id] %>
                          <%= link_to 'Be one of them and add to my contact', follow_guest_path(guest), :class => "button-gray", "data-ajax" => true, "data-role" => 'follow' %>
						<% else %>
                          <%= link_to 'Sign up and be one of them', login_path, :class => "button-gray" %>
						<% end %>
                      <% end %>
					</div>
	              <% guest.title.split('|').each do |title| %>
	                <h4><%= title %></h4>
	              <% end %>
				  <% if not guest.bio.nil? %>
				  <a class="read-more" href="#">Read More About <%= guest.full_name %></a>
	              <p><%= guest.bio %></p>
				  <% end %>
				</div>
			</div>
		</div>
	<% end %>
<% else %>
	<% speakers.each do |g| %>
		<div class="speaker-info">
			<div class="speaker has-image">
                <div class="image">
                  <%= image_tag g.profile_picture %>
				</div>
				<div class="bio">
					<h3><%= g.full_name %></h3>
                    <h4><%= g.title %></h4>
                    <% if g.follower_ids.include? session[:user_id] %>
                      <h4>You <% if g.followers.count > 1 %>and <%= pluralize(g.followers.count - 1, 'person') %> <% end %>are following</h4>
                    <% else %>
                      <h4 data-role="follower-count">
                        <%= pluralize(g.followers.count, 'person is', 'people are') %> following
                        <% if session[:user_id] %>
                          <% if session[:user_id] == g.id %>
                            you
                          <% else %>
                            <%= link_to 'Add', follow_user_path(g), :class => "button-gray button-gray-add", "data-ajax" => true, "data-role" => 'follow' %>
                          <% end %>
                        <% end %>
                      </h4>
                    <% end %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
