<% if layout_type == 0 %>
	<% speakers.each do |guest| %>
		<div class="speaker-info">
			<div class="speaker has-image">
            <div class="image"><%= image_tag guest.picture %></div>
				<div class="bio">
	              <h3><%= guest.full_name %></h3>
					<div class="people-interested">
                      <% if guest.user_ids.include? session[:user_id] %>
                        <div class="button-gray-inactive">你<% if guest.users.count > 1 %>和其他 <%= pluralize(guest.users.count - 1, '人', '人') %> <% end %>正在关注</div>
                      <% else %>
                        <div class="button-gray-inactive" data-role="follower-count">有 <%= pluralize(guest.users.count, '人', '人') %>正在关注</div>
						<% if session[:user_id] %>
                          <%= link_to '成为他们中的一员', follow_guest_path(guest), :class => "button-gray", "data-ajax" => true, "data-role" => 'follow' %>
						<% else %>
                          <%= link_to '注册并成为他们中的一员', login_path, :class => "button-gray" %>
						<% end %>
                      <% end %>
					</div>
	              <% guest.title.split('|').each do |title| %>
	                <h4><%= title %></h4>
	              <% end %>
				  <% if not guest.bio.nil? %>
				  <a class="read-more" href="#">了解更多关于<%= guest.full_name %>的讯息</a>
	              <p><%= guest.bio %></p>
				  <% end %>
				</div>
			</div>
		</div>
	<% end %>
<% else %>
	<% speakers.each do |g| %>
		<div class="speaker-info">
			<div class="speaker has-image">
                <% if not g.fb_username.nil? %>
					<a href=<%='https://www.facebook.com/'+g.fb_username%> class="image" target="_blank">
						<%=image_tag g.profile_picture %>
					</a>
				<% else %>
					<div class="image">
						<%=image_tag g.profile_picture %>
					</div>
				<% end %>
				<div class="bio">
					<h3><%= g.full_name %></h3>
                    <h4 class="one-line-title"><%= g.title %></h4>
                    <% if g.follower_ids.include? session[:user_id] %>
                      <h4>你<% if g.followers.count > 1 -%>和其他 <%= pluralize(g.followers.count - 1, '人', '人') -%><% end %>正在关注</h4>
                    <% else %>
                      <h4 data-role="follower-count">
                        有 <%= pluralize(g.followers.count, '人', '人') -%>正在关注<% if session[:user_id] -%><% if session[:user_id] == g.id -%>你
                          <% else %>
                            <%= link_to '添加', follow_user_path(g), :class => "button-gray button-gray-add", "data-ajax" => true, "data-role" => 'follow' %>
                          <% end %>
                        <% end %>
                      </h4>
                    <% end %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
