<% if layout_type == 0 %>
	<% speakers.each do |guest| %>
		<div class="speaker-info">
			<div class="speaker has-image">
            <div class="image"><%= image_tag 'default_avatar_male.jpg' %></div>
				<div class="bio">
	              <h3><%= guest.first_name + ' ' + guest.last_name %></h3>
					<div class="people-interested">
                        <div class="button-gray"><%= pluralize(guest.users.count, 'person is', 'people are') %> following</div>
						<% if session[:user_id] %>
                          <%= link_to 'Be one of them and add to my contact', follow_guest_path(guest), :class => "button-gray" %>
						<% else %>
                          <a href="/login" class="button-gray">Sign up and be one of them</a>
						<% end %>
					</div>
	              <% guest.title.split('|').each do |title| %>
	                <h4><%= title %></h4>
	              <% end %>
	              <p><%= guest.bio %></p>
				</div>
			</div>
		</div>
	<% end %>
<% else %>
	<% speakers.each do |g| %>
		<div class="speaker-info">
			<div class="speaker has-image">
                <div class="image"><%= image_tag 'default_avatar_female.jpg' %></div>
				<div class="bio">
					<h3><%= g.first_name + ' ' + g.last_name %></h3>
					<h4>Title</h4>
					<p>Links</p>
				</div>
				<div class="button-gray">Followed by 122</div>
				<a href="/login" class="button-gray">Add to my contact</a>
			</div>
		</div>
	<% end %>
<% end %>
