<% panels.each do |panel| %>
	<div class="session-detail">
		<div class="session-info">
          <h2><%= panel.title %></h2>
			<div class="speaker-list">
            <%= panel.guests.collect { |g| g.full_name } .join(', ') %>
			</div>
			<div class="description-container">
				<div class="description">
                <%= panel.content %>
				</div>
				<div class="session-stats">
                  Time: <span><%= panel.time > Time.gm(2012,2) ? panel.time.strftime('%a %b %d %H:%M') : 'TBD' %></span><br/>
                  Place: <span><%= panel.venue ? panel.venue : 'TBD' %></span>
				</div>
				<div class="session-interested">
                  <% if panel.user_ids.include? session[:user_id] %>
                    <div class="button-gray-inactive">You <% if panel.users.count > 1 %>and <%= pluralize(panel.users.count - 1, 'person') %> <% end %>are following</div>
                  <% else %>
					<% if session[:user_id] %>
                      <%= link_to 'Be one of them and add to my calendar', follow_presentation_path(panel), :class => "button-gray", "data-ajax" => true, "data-role" => 'follow' %>
					<% else %>
                      <%= link_to 'Sign up and be one of them', login_path, :class => "button-gray" %>
					<% end %>
                    <div class="button-gray-inactive" data-role="follower-count"><%= pluralize(panel.users.count, 'person likes', 'people like') %> this</div>
                  <% end %>
				</div>
			</div>
		</div>
      <% panel.guests.each do |guest| %>
		<div class="speaker-info">
			<div class="speaker has-image">
	            <div class="image"><%= image_tag guest.picture %></div>
				<div class="bio">
                  <h3><%= guest.full_name %></h3>
					<div class="people-interested">
                      <% if guest.user_ids.include? session[:user_id] %>
                        <div class="button-gray-inactive">You <% if guest.users.count > 1 %>and <%= pluralize(guest.users.count - 1, 'person') %> <% end %>are following</div>
                      <% else %>
                        <div class="button-gray-inactive" data-role="follower-count"><%= pluralize(guest.users.count, 'person is', 'people are') %> following</div>
						<% if session[:user_id] %>
                          <%= link_to 'Be one of them and add to my contact', follow_guest_path(guest), :class => "button-gray", "data-ajax" => true, "data-role" => 'follow' %>
						<% else %>
                          <%= link_to 'Sign up and be one of them', login_path, :class => "button-gray" %>
						<% end %>
                      <% end %>
					</div>
					<h4>
                    <% guest.title.split('|').each do |title| %>
                      <%= title %><br/>
                    <% end %>
					</h4>
				</div>
			</div>
		</div>
      <% end %>
	</div>
<% end %>
