<% panels.each do |panel| %>
	<div class="session-detail">
		<div class="session-info">
          <h2><%= panel.title %></h2>
			<div class="speaker-list">
            <%= panel.guests.collect { |g| g.first_name + ' ' + g.last_name } .join(', ') %>
			</div>
			<div class="description-container">
				<div class="description">
                <%= panel.content %>
				</div>
				<div class="session-stats">
                  Time: <span><%= panel.time > Time.gm(2012,2) ? panel.time.strftime('%a %b %d %H:%M') : 'TBD' %></span></br>
                  Place: <span><%= panel.venue ? panel.venue : 'TBD' %></span>
				</div>
				<div class="session-interested">
					<% if session[:user_id] %>
                        <%= link_to 'Be one of them and add to my calendar', follow_presentation_path(panel), :class => "button-gray" %>
					<% else %>
                        <a href="/login" class="button-gray">Sign up and be one of them</a>
					<% end %>
                    <div class="button-gray-inactive"><%= pluralize(panel.users.count, 'person likes', 'people like') %> this</div>
				</div>
			</div>
		</div>
      <% panel.guests.each do |guest| %>
		<div class="speaker-info">
			<div class="speaker has-image">
				<div class="image c1"></div>
				<div class="bio">
                  <h3><%= guest.first_name + ' ' + guest.last_name %></h3>
					<div class="people-interested">
                        <div class="button-gray-inactive"><%= pluralize(guest.users.count, 'person is', 'people are') %> following</div>
						<% if session[:user_id] %>
                            <%= link_to 'Be one of them and add to my contact', follow_guest_path(guest), :class => "button-gray" %>
						<% else %>
			            <a href="/login" class="button-gray">Sign up and be one of them</a>
						<% end %>
					</div>
					<p>
                    <% guest.title.split('|').each do |title| %>
                      <%= title %><br />
                    <% end %>
					</p>
				</div>
			</div>
		</div>
      <% end %>
	</div>
<% end %>
