<% panels.each do |panel| %>
	<div class="session-detail">
		<div class="session-info">
          <h2><%= panel.title %></h2>
			<div class="speaker-list">
            <%= panel.guests.collect { |g| g.full_name } .join(', ') %>
			</div>
			<div class="description-container">
				<div class="description">
                <%= panel.content %>
				</div>
				<div class="session-stats">
                  时间:<span><%= (panel.date.year == Date.today.year) ? panel.time.strftime("%H:%M ") + panel.date.strftime('%a %b %d %Y') : t('tba') %></span><br/>
                  地点:<span><%= (panel.venue and panel.venue != "") ? panel.venue : t('tba') %></span>
				</div>
				<div class="session-interested">
                  <% if panel.user_ids.include? session[:user_id] %>
                    <div class="button-gray-inactive">You <% if panel.users.count > 1 %>and <%= pluralize(panel.users.count - 1, 'person') %> <% end %>are following</div>
                  <% else %>
					<% if session[:user_id] %>
                      <%= link_to '成为他们中的一员并加入我的日程', follow_presentation_path(panel), :class => "button-gray", "data-ajax" => true, "data-role" => 'follow' %>
					<% else %>
                      <%= link_to '注册并成为他们中的一员', login_path, :class => "button-gray" %>
					<% end %>
                    <div class="button-gray-inactive" data-role="follower-count"><%= pluralize(panel.users.count, '人喜欢', '人喜欢') %></div>
                  <% end %>
				</div>
			</div>
		</div>
      <% panel.guests.each do |guest| %>
		<div class="speaker-info">
			<div class="speaker has-image">
	            <div class="image"><%= image_tag guest.picture %></div>
				<div class="bio">
                  <h3><%= guest.full_name %></h3>
					<div class="people-interested">
                      <% if guest.user_ids.include? session[:user_id] %>
                        <div class="button-gray-inactive">你<% if guest.users.count > 1 %>和<%= pluralize(guest.users.count - 1, '人') %> <% end %>正在关注</div>
                      <% else %>
                        <div class="button-gray-inactive" data-role="follower-count"><%= pluralize(guest.users.count, '人', '人') %>正在关注</div>
						<% if session[:user_id] %>
                          <%= link_to '成为他们中的一员并添加到我的通讯录', follow_guest_path(guest), :class => "button-gray", "data-ajax" => true, "data-role" => 'follow' %>
						<% else %>
                          <%= link_to '注册并成为他们中的一员', login_path, :class => "button-gray" %>
						<% end %>
                      <% end %>
					</div>
					<h4>
                    <% guest.title.split('|').each do |title| %>
                      <%= title %><br/>
                    <% end %>
					</h4>
				</div>
			</div>
		</div>
      <% end %>
	</div>
<% end %>
