				<div id="content" class="clearfix">
					<div class="section">
						<div class="article" id="agenda">
							<h1 class="tab-nav"><a href="#" data-tab="overview" class="active"><%=t 'agenda.overview'%></a><a href="#" data-tab="keynote"><%=t 'agenda.keynote'%></a><a href="#" data-tab="panel"><%=t 'agenda.panel'%></a><a href="#" data-tab="misc"><%=t 'agenda.misc'%></a></h1>
							<div class="content active clearfix" id="overview">
								<p><%=t 'agenda.hint0'%></p>
								<h2><%=t 'agenda.date1'%></h2>
								<div class="agenda-header">
									<span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span><span class="schedule-hour">12</span><span class="schedule-hour">1</span><span class="schedule-hour">2</span><span class="schedule-hour">3</span><span class="schedule-hour">4</span><span class="schedule-hour">5</span><span class="schedule-hour">6</span><span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span>
								</div>
								<div class="agenda-row">
									<label><%=t 'agenda.row1'%></label>
									<div class="agenda-item" style="left: 240px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4><%=t 'agenda.row1'%></h4><p>8:00 am - 9:00 am</p><p><%=t 'tba'%></p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label><%=t 'agenda.row2'%></label>
									<div class="agenda-item" style="left: 280px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4><%=t 'agenda.row2'%></h4><p>9:00 am - 9:20 am</p><p><%=t 'tba'%></p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label><%=t 'agenda.row3'%></label>
									<div class="agenda-item" style="left: 300px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4><%=t 'agenda.row31'%></h4><p>9:30 am - 10:30 am</p><p><%=t 'tba'%></p></div>
									</div>
									<div class="agenda-item" style="left: 400px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4><%=t 'agenda.row32'%></h4><p>12:00 pm - 1:30 pm</p><p><%=t 'tba'%></p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label><%=t 'agenda.row4'%></label>
									<div class="agenda-item" style="left: 340px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4><%=t 'agenda.row41'%></h4><p>10:30 am - 12:00am</p><p><%=t 'tba'%></p></div>
									</div>
									<div class="agenda-item" style="left: 500px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4><%=t 'agenda.row42'%></h4><p>2:30 pm - 4:00 pm</p><p><%=t 'tba'%></p></div>
									</div>
									<div class="agenda-item" style="left: 560px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4><%=t 'agenda.row43'%></h4><p>4:00 pm - 5:30 pm</p><p>TBA</p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label><%=t 'agenda.row5'%></label>
									<div class="agenda-item" style="left: 660px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4><%=t 'agenda.row5'%></h4><p>6:30 pm - 9:00 pm</p><p>TBA</p></div>
									</div>
								</div>
								<p><br/><%=t 'agenda.hint1'%></p>
								<h2><%=t 'agenda.date2'%></h2>
								<div class="agenda-header">
									<span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span><span class="schedule-hour">12</span><span class="schedule-hour">1</span><span class="schedule-hour">2</span><span class="schedule-hour">3</span><span class="schedule-hour">4</span><span class="schedule-hour">5</span><span class="schedule-hour">6</span><span class="schedule-hour">7</span><span class="schedule-hour">8</span><span class="schedule-hour">9</span><span class="schedule-hour">10</span><span class="schedule-hour">11</span>
								</div>
								<div class="agenda-row">
									<label><%=t 'agenda.row6'%></label>
									<div class="agenda-item" style="left: 280px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4><%=t 'agenda.row6'%>l</h4><p>9:00 am - 12:00 pm</p><p>TBA</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label><%=t 'agenda.row7'%></label>
									<div class="agenda-item" style="left: 400px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4><%=t 'agenda.row7'%></h4><p>12:00 pm - 1:00 pm</p><p>UC McConomy</p></div>
									</div>
								</div>
								<div class="agenda-row">
									<label><%=t 'agenda.row8'%></label>
									<div class="agenda-item" style="left: 440px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4><%=t 'agenda.row8'%></h4><p>1:00 pm - 2:30 pm</p><p>Wygan Gym</p></div>
									</div>
								</div>
								<div class="agenda-row alt">
									<label><%=t 'agenda.row9'%></label>
									<div class="agenda-item" style="left: 500px">
										<div class="info-dot"></div>
										<span></span>
										<div class="info-balloon"><h4><%=t 'agenda.row9'%></h4><p>2:30 pm - 6:00 pm</p><p>TBA</p></div>
									</div>
								</div>
								<p>
									<br/>
									<%=t 'agenda.hint2'%>
								</p>
							</div>
							<div class="content clearfix" id="keynote">
 								<%= render :partial => "presentations", :locals => { :panels => @keynotes } %>
							</div>
							<div class="content clearfix" id="panel">
								<%= render :partial => "presentations", :locals => { :panels => @panels } %>
							</div>
							<div class="content clearfix" id="misc">
								Information about Showcase and Career Fair will be available soon.
<!-- 								<%= render :partial => "presentations", :locals => { :panels => @misc_sessions } %>	-->
							</div>
						</div>
					</div>
				</div>

