<script type="text/javascript">
<!--
$(function(){
	if (document.location.hash) {
		hash = document.location.hash.replace( /^#/, '' );
		var node = $( '#' + hash );
		if ( node.length ) {
			var b = $('h1.tab-nav a:nth-child(3)');
			b.addClass("active").siblings().removeClass("active");
			node.addClass("active").siblings('div.content').removeClass("active");
		}
	}
})
//-->
</script>
<div id="content" class="clearfix">
    <div class="section">
        <div class="article" id="contest">
            <h1 class="tab-nav"><a href="#" data-tab="overview" class="active"><%=t 'contest.overview'%></a><a href="#" data-tab="rules"><%=t 'contest.rules'%></a><a href="#" data-tab="submission"><%=t 'contest.submission'%></a></h1>
            <div id="overview" class="active content clearfix">
                <h2><%=t 'contest.h1'%></h2>
                <p><%=t 'contest.p1'%></p>
                <h2><%=t 'contest.h2'%></h2>
                <p><%=t 'contest.p21'%></p>
                <ul>
                    <li><%=t 'contest.p22'%></li>
                    <li><%=t 'contest.p23'%></li>
                    <li><%=t 'contest.p24'%></li>
                </ul>
                <h2><%=t 'contest.h3'%></h2>
                <ul class="first-ul">
                    <li><strong><%=t 'contest.p31'%></strong> <%=t 'contest.p32'%></li>
                    <li><strong><%=t 'contest.p33'%></strong> <%=t 'contest.p34'%></li>
                    <li><strong><%=t 'contest.p35'%></strong> <%=t 'contest.p36'%></li>
                    <li><strong><%=t 'contest.p37'%></strong> <%=t 'contest.p38'%></li>
                </ul>
                <h2><%=t 'contest.h4'%></h2>
                <a href="/files/Executive_Summary_Template.pdf"><%=t 'contest.p4'%></a>
            </div>
            <div id="rules" class="content clearfix">
                <h2><%=t 'contest.h5'%></h2>
                <p><%=t 'contest.p51'%></p>
                <ul>
                    <li><%=t 'contest.p52'%></li>
                    <li><%=t 'contest.p53'%></li>
                    <li><%=t 'contest.p54'%></li>
                </ul>
                </p>
                <h2><%=t 'contest.h6'%></h2>
                <ul class="first-ul">
                    <li><%=t 'contest.p61'%></li>
                    <li><%=t 'contest.p63'%></li>
                </ul>
                <h2><%=t 'contest.h7'%></h2>
                <ul class="first-ul">
                    <li><%=t 'contest.p71'%></li>
                    <li><%=t 'contest.p72'%></li>
                    <li><%=t 'contest.p73'%></li>
                    <li><%=t 'contest.p74'%></li>
                    <li><%=t 'contest.p75'%></li>
                </ul>
                <h2><%=t 'contest.h8'%></h2>
                <p><%=t 'contest.p8'%></p>
                <h2><%=t 'contest.h9'%></h2>
                <p><%=t 'contest.p91'%><br/><%=t 'contest.p92'%></p>
                <h2><%=t 'contest.h10'%></h2>
                <p><%=t 'contest.p101'%><br/>
                <%=t 'contest.p102'%><br/>
                <%=t 'contest.p103'%></p>
                <h2><%=t 'contest.h11'%></h2>
                <p><%=t 'contest.p111'%><p>
                <ul>
                    <li><%=t 'contest.p112'%></li>
                    <li><%=t 'contest.p113'%></li>
                    <li><%=t 'contest.p114'%></li>
                    <li><%=t 'contest.p115'%></li>
                    <li><%=t 'contest.p116'%></li>
                    <li><%=t 'contest.p117'%></li>
                </ul>
                <h2><%=t 'contest.h12'%><h2>
                <ul class="first-ul">
                    <li><%=t 'contest.p121'%></li>
                    <li><%=t 'contest.p122'%></li>
                    <li><%=t 'contest.p123'%></li>
                </ul>
                <p><%=t 'contest.p124'%></p>
            </div>
            <div id="submission" class="content clearfix">
                <h2><%=t 'contest.h13'%></h2>
                <p><%=t 'contest.p13'%></p>
                <% if notice %>
                  <p id='submission-notice'><%= t 'notice' %></p>
                <% end %>
                <% if @submission.errors.any? %>
                  <p id="submission-error"><%=t 'error' %></p>
                <% end %>
                <%= form_for @submission, :url => contest_path(:anchor => 'submission'), :method => 'post' do |f| %>
                  <div>
                    <%= f.label t :first_name %>
                    <%= f.text_field :first_name %>
                    <% if @submission.errors.include? :first_name %>
                    <span><%= @submission.errors.get(:first_name)[0] %></span>
                    <% end %>
                  </div><div>
                    <%= f.label t :last_name %>
                    <%= f.text_field :last_name %>
                    <% if @submission.errors.include? :last_name %>
                    <span><%= @submission.errors.get(:last_name)[0] %></span>
                    <% end %>
                  </div><div>
                    <%= f.label t :email %>
                    <%= f.email_field :email %>
                    <% if @submission.errors.include? :email %>
                    <span><%= @submission.errors.get(:email)[0] %></span>
                    <% end %>
                  </div><div>
                    <%= f.label t :mobile_phone %>
                    <%= f.text_field :mobile_phone %>
                    <% if @submission.errors.include? :mobile_phone %>
                    <span><%= @submission.errors.get(:mobile_phone)[0] %></span>
                    <% end %>
                  </div><div>
                    <%= f.label t :institute %>
                    <%= f.text_field :institute %>
                    <% if @submission.errors.include? :institute %>
                    <span><%= @submission.errors.get(:institute)[0] %></span>
                    <% end %>
                  </div><div>
                    <%= f.label t :team_size %>
                    <%= f.text_field :team_size %>
                    <% if @submission.errors.include? :team_size %>
                    <span><%= @submission.errors.get(:team_size)[0] %></span>
                    <% end %>
                  </div><div>
                    <%= f.label t :venture_title %>
                    <%= f.text_field :venture_title %>
                    <% if @submission.errors.include? :venture_title %>
                    <span><%= @submission.errors.get(:venture_title)[0] %></span>
                    <% end %>
                  </div><div>
                    <%= f.label t :definition %>
                    <%= f.text_area :definition %>
                    <% if @submission.errors.include? :definition %>
                    <span><%= @submission.errors.get(:definition)[0] %></span>
                    <% end %>
                  </div><div>
                    <%= f.label t :website %>
                    <%= f.text_field :website %>
                  </div><div>
                    <%= f.label t :file %>
                    <%= f.file_field :file, :accept => 'application/pdf' %>
                    <% if @submission.errors.include? :file %>
                    <span><%= @submission.errors.get(:file)[0] %></span>
                    <% end %>
                  </div><div>
                    <%= label_tag %>
                    <%= f.submit t('submit'), :class => 'button-gray' %>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

