<div id="content" class="clearfix">
	<div id="gradient"></div>
	<section id="index" class="clearfix">
		<article id="top">
			<h3><span>APRIL</span><span>28-29</span><span>Pittsburgh</span><span>Pennsylvania</span></h3>
            <%= image_tag 'logo.png', :alt => 'CMU-Summit', :id => 'logo' %>
			<h1>CMU SUMMIT</h1>
			<h2>US-China Innovation and Entrepreneurship Forum</h2>
		</article>
		<article>
			<div class="content clearfix">
				<p>
					CMU Summit is a high-profile forum, where leading entrepreneurs, executives, venture capitalists and researchers from both China and United States could come together to address big issues on economy and technology, and further cultivate potential opportunities for mutual partnerships.
				</p>
				<iframe id="cmu-overview" width="560" height="315" src="http://www.youtube.com/embed/1I5i6NO6f7k" frameborder="0" allowfullscreen></iframe>
			</div>
			<div id="random-fact" class="clearfix">
				<%=render :partial => "randomfacts" %>
			</div>
		</article>
	</section>
	<section id="main">
		<article id="why">
			<h1>Why CMU Summit?</h1>
			<div class="content">
				<p>Over the past decades, China has successfully transformed itself from poverty and backwardness into a modern nation that plays a central role in globalization. The fastest-growing economy in the world with consistently high annual growth rate, a burgeoning middle class, more university graduates than ever, expanding international political partnership, largest population of Internet users in the world, and an increasing number of world-renowned companies with innovations in technology. China today has extraordinary capabilities with a greater sense of confidence in itself and the future. Meanwhile, United States, the largest economy and super power – though challenged by the ongoing economic recession since 2008’s Wall Street crisis – still fuels the economic engine of the world. In the age of intensified globalization and with the current financial crisis, it is widely acknowledged that the Sino-US relationship acts as dual locomotive for the world’s troubled economic train.</p>
				<p>With this in mind and looking ahead into the future — ideas and solutions from both within China and the United States would greatly help dealing with many challenges emerging from its rapid development. The CMU Summit, expected to draw more than 1,000 participants to CMU, will bring together leading entrepreneurs, executives, and venture capitalists from both the U.S. and China to discuss and identify China’s influence on the global economy, its opportunities for the U.S., and its readiness to take the mutual benefits.</p>
			</div>
		</article>
		<article id="voice">
			<h1>Voice</h1>
			<div class="content clearfix">
				<div class="voice-quote">
					<p>"For those of you thinking about Carnegie Mellon, it's a terrific place, and you guys are doing just great work... Carnegie Mellon is a great example of what it means to move forward... At its founding, no one would have imagined that a trade school for the sons and daughters of steelworkers would one day become … one of the region's largest employers and a global research university."</p>
					<p class="author">
						President Obama
					</p>
				</div>
				<div class="voice-quote">
					<p>"We have a lot of Carnegie Mellon alums at Facebook and a lot of them are actually some of our best engineers. So when we decided to organize this trip to go see a few colleges, Carnegie Mellon was at the top of the list."</p>
					<p class="author">
						Mark Zuckerberg, Facebook CEO
					</p>
				</div>
			</div>
		</article>
		<article id="sponsor">
			<h1>Sponsor</h1>
			<div class="content clearfix">
				<ul id="sponsor-list">
					<li>
						<a href="http://www.zhenfund.com/"><%= image_tag 'sponsor1.png', :alt => 'Xiaoping Xu' %></a>
					</li>
				</ul>
				<p>Interested in sponsorship?</p><p>Please contact Pengxuan Chen</p><p>Sponsor Relation Director</p><p>Phone: +1 (412)-251-6068</p><p>Email: pengxua1@andrew.cmu.edu.</p>
			</div>
		</article> 
	</section>
	<aside>
		<article id="follow-us">
			<h3>Get Involved</h3>
			<div class="content">
				<% if not session[:user_id] %>
				<div>
					<p>Register to keep up-to-date.</p>
					<a href="/login" class="button-gray" id="aside-register">Sign Up</a>
				</div>
				<% end %>
				<div class="clearfix">
					<p>Follow us on your social network.</p>
					<ul id="aside-social-network">
                        <li><a href="https://www.facebook.com/cmusummit"><%= image_tag 'facebook_icon.png' %></a></li>
						<li><a href="http://page.renren.com/601202783"><%= image_tag 'renren_icon.jpg' %></a></li>
						<li><a href="http://weibo.com/cmusummit"><%= image_tag 'weibo_icon.png' %></a></li>
						<li><a href="http://www.linkedin.com/groups/CMU-Summit-4275100"><%= image_tag 'linkin_icon.jpg' %></a></li>
					</ul>
				</div>
			</div>
		</article>
		<%=render :partial => "announcements" %>
	</aside>
	</section>
</div>
