<div id="index-content" class="clearfix">
	<div id="mask"><%= image_tag 'level_header.jpg', :alt => 'CMU-Summit', :id => "level-header" %></div>
	<div id="index1">
		<div class="article" id="top">
			<div id="summit-title">
				<h1><%=t "gen.CMU_SUMMIT" %></h1>
				<h2><%=t "index.US_China" %></h2>
				<div id="navigation_container">
					<div><%=t "index.April" %></div>
				</div>
				<p><%=t "index.high_profile" %></p>
				<div id="getstarted"><a href="/login"><%=t "index.get_involved_now" %></a></div>
			</div>
		</div>
	</div>
	<div id="index2" class="clearfix">
		<div id="douno-nav">
    		<h3><%=t "index.douno" %><span class="button-gray" id="douno_read_more"><%=t "index.read_more" %></span><span class="button-gray" id="douno_read_less"><%=t "index.read_less" %></span></h3>
		</div>
		<div class="content clearfix" id="douno">
			<div>
				<%= image_tag 'diagram3.jpg', :alt => 'CMU-Summit' %>
				<p><%=t "index.douno1" %></p>	
			</div>
			<div>
				<%= image_tag 'diagram2.jpg', :alt => 'CMU-Summit' %>
				<p><%=t "index.douno2" %></p>
			</div>
			<div>
				<%= image_tag 'diagram9.jpg', :alt => 'CMU-Summit' %>
				<p><%=t "index.douno3" %></p>
			</div>
			<div>
				<%= image_tag 'diagram4.jpg', :alt => 'CMU-Summit' %>
				<p><%=t "index.douno4" %></p>
			</div>
			<div>
				<%= image_tag 'diagram8.jpg', :alt => 'CMU-Summit' %>
				<p><%=t "index.douno5" %></p>
			</div>
			<div>
				<%= image_tag 'diagram7.jpg', :alt => 'CMU-Summit' %>
				<p><%=t "index.douno6" %></p>
			</div>
		</div>
	</div>
	<div id="index0" class="clearfix">
		<div class="content clearfix" id="why">
			<div id="why-left">
				<h3><%=t "index.why" %></h3>
				<p><%=t "index.why0" %></p>
				<div class="clearfix">
					<ul id="why-li-left">
						<li><%=t "index.why1" %></li>
						<li><%=t "index.why2" %></li>
					</ul>
					<ul class="clearfix" id="why-li-right">
						<li><%=t "index.why3" %></li>
						<li><%=t "index.why4" %></li>
					</ul>
				</div>
				<p><%=t "index.why5" %></p>
			</div>
			<div id="why-right">
				<h3><%=t "index.who" %></h3>
				<p><%=t "index.who0" %></p>
				<h3><%=t "index.where" %></h3>
				<p><%=t "index.where0" %></p>
			</div>
		</div>
	</div>
	<div id="index3" class="clearfix">
		<div class="section" id="main">
			<div class="article" id="sponsor">
				<h1><%=t "index.sponsor" %></h1>
				<div class="content clearfix">
					<ul id="sponsor-list">
						<li>
							<a href="http://www.zhenfund.com/"><%= image_tag 'sponsor1.png', :alt => 'Xiaoping Xu' %></a>
						</li>
					</ul>
					<p style="color: #CF242A"><%=t "index.sponsor0" %></p><p><%=t "index.sponsor1" %></p><p><%=t "index.sponsor2" %></p><p><%=t "index.sponsor3" %></p><p><%=t "index.sponsor4" %></p>
				</div>
			</div> 
			<div class="article" id="voice">
				<h1><%=t "index.voice" %></h1>
				<div class="content clearfix">
					<div class="voice-quote">
						<p><%=t "index.voice1" %></p>
						<p class="author">
							<%=t "index.voice11" %>
						</p>
					</div>
					<div class="voice-quote">
						<p><%=t "index.voice2" %></p>
						<p class="author">
							<%=t "index.voice21" %>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="aside">
			<%=render :partial => "follow" %>
			<%=render :partial => "announcements" %>
		</div>
	</div>
</div>
