<div id="content" class="clearfix">
	<div class="section">
		<div class="article" id="info">
			<h1 class="tab-nav"><a href="#" data-tab="about" class="active"><%=t "info.about"%></a><a href="#" data-tab="register"><%=t "info.register"%></a><a href="#" data-tab="travel"><%=t "info.travel"%></a><a href="#" data-tab="faq"><%=t "info.faq"%></a></h1>
			<div id="about" class="active content clearfix">
				<p><%=t 'about.intro'%></p>
				<div id="about-left">
					<div class="about-item">
						<h2><%=t 'about.h1'%></h2>
						<p><%=t 'about.p1'%></p>
					</div>
					<div class="about-item">
						<h2><%=t 'about.h2'%></h2>
						<p><%=t 'about.p2'%></p>
					</div>
					<div class="about-item">
						<h2><%=t 'about.h3'%></h2>
						<p><%=t 'about.p3'%></p>
					</div>
				</div>
				<div id="about-right">
					<div class="about-item">
						<h2><%=t 'about.h4'%></h2>
						<p><%=t 'about.p4'%></p>
					</div>
					<div class="about-item">
						<h2><%=t 'about.h5'%></h2>
						<p><%=t 'about.p5'%></p>
					</div>
				</div>
			</div>
			<div id="travel" class="content clearfix">
				<div id="travel-details">
					<div id="travel-campus">
						<h2><%=t 'travel.h1'%></h2>
						<p><%=t 'travel.p1'%></p>
						<h3><%=t 'travel.h2'%></h3>
						<p><%=t 'travel.p2'%></p>
						<h3><%=t 'travel.h3'%></h3>
						<p><%=t('travel.p3').html_safe%></p>
						<h3><%=t 'travel.h4'%></h3>
						<p><%=t('travel.p4').html_safe%></p>
						<h3><%=t 'travel.h5'%></h3>
						<p><%=t('travel.p5').html_safe%></p>
						<p><%=t('travel.p6').html_safe%></p>
					</div>
					<div id="travel-hotel">
						<h2><%=t 'travel.h7'%></h2>
						<p><%=t('travel.p7').html_safe%></p>
						<h2><%=t 'travel.h8'%></h2>
						<p><%=t 'travel.p8'%></p>
						<p><%=link_to t('travel.h81'), :href=>"http://www.holidayinn.com/hotels/us/en/pittsburgh/pitsp/hoteldetail", :target=>"_blank" %>
							<br><%=t 'travel.p81'%></p>
						<p><%=link_to t('travel.h82'), :href=>"http://www.shadysideinn.com/", :target=>"_blank" %>
							<br><%=t 'travel.p82'%></p>
						<p><%=link_to t('travel.h83'), :href=>"http://www.marriott.com/hotels/travel/pitro-residence-inn-pittsburgh-university-medicalcenter/", :target=>"_blank" %>
							<br><%=t 'travel.p83'%></p>
						<p><%=link_to t('travel.h84'), :href=>"http://www.sunnyledge.com/", :target=>"_blank" %>
							<br><%=t 'travel.p84'%></p>
						<p><%=t('travel.p9').html_safe%></p>
					</div>
				</div>
			</div>
			<div id="register" class="content clearfix">
				<p>
					<%=t 'register.p0'%>
				</p>
				<div id="pricing">
					<h2><%=t 'register.h1'%></h2>
					<table>
						<tbody>
							<tr>
								<td><%=t 'register.p11'%></td>
								<td>$29.99</td>
							</tr>
							<tr>
								<td><%=t 'register.p12'%></td>
								<td>$39.99</td>
							</tr>
							<tr>
								<td><%=t 'register.p13'%></td>
								<td>$49.99</td>
							</tr>
							<tr>
								<td><%=t 'register.p14'%></td>
								<td>$199.99</td>
							</tr>
						</tbody>
					</table>
					<p><%=t 'login.p1' %></p>
					<a href="http://cmusummit2012.eventbrite.com/" target="_blank" class="button-gray"><%=t 'login.b0' %></a>
				</div>
				<div id="questions">
					<h2><%=t 'register.h2'%></h2>
					<table>
						<tbody>
							<tr>
								<td><%=t 'register.p21'%>:</td>
								<td><%=t 'tba'%></td>
							</tr>
							<tr>
								<td><%=t 'register.p22'%>:</td>
								<td><%=t 'tba'%></td>
							</tr>
							<tr>
								<td><%=t 'register.p23'%>:</td>
								<td><%=t 'tba'%></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="faq" class="content clearfix">
				<div class="clearfix">
					<div class="faq-section">
						<h3 id="registration"><%=t 'faq.h1'%></h3>
						<dl>
							<dt><%=t 'faq.q11'%></dt><dd><%=t('faq.a11').html_safe %></dd>
							<dt><%=t 'faq.q12'%></dt><dd><%=t 'faq.a12'%></dd>
							<dt><%=t 'faq.q13'%></dt><dd><%=t 'faq.a13'%></dd>
						</dl>
					</div>
					<div class="faq-section right">
						<h3 id="general"><%=t 'faq.h2'%></h3>
						<dl>
							<dt><%=t 'faq.q21'%></dt><dd><%=t 'faq.a21'%></dd>
							<dt><%=t 'faq.q22'%></dt><dd><%=t 'faq.a22'%></dd>
							<dt><%=t 'faq.q23'%></dt><dd><%=t 'faq.a23'%></dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

