<div id="content" class="clearfix">
  <div class="section">
	<div class="article" id="ticket">
		<h1><%=t 'gen.get_involved' %></h1>
		<div class="content">
			<p><%=t 'login.p1' %></p>
			<a href="http://cmusummit2012.eventbrite.com/" target="_blank" class="button-gray"><%=t 'login.b0' %></a>
			<p><%=t 'login.p2' %></p>
		</div>
    </div>
	<% unless session[:user_id] %>
    <div class="article" id="register">
      <h1><span><%=t "gen.login"%></span><span><%=t "gen.signup"%></span></h1>
      <div id="login" class="clearfix">
        <% if flash[:error_signin] %>
          <p id="error-signin">Invalid user/password combination.</p>
        <% end %>
        <% if flash[:retrieve_password_notice] %>
          <p id="forget-notification"><%= flash[:retrieve_password_notice] %></p>
        <% end %>
        <%= form_tag login_path, :method => 'post' do %>
		  <div>
          <%= label_tag t :email %>
          <%= email_field_tag :email, flash[:user_email] %>
          <%= label_tag t :password %>
          <%= password_field_tag :password %>
          <%= label_tag %>
          <%= submit_tag t 'gen.login' %>
          <%= button_tag t('gen.forget'), :type => 'button', :id => 'forget-button', :class => 'button-gray' %>
          </div>
        <% end %>
        <%= form_tag login_path, :method => 'post', :id => 'forget' do %>
		  <div>
          <%= label_tag t :email %>
          <%= email_field_tag :email, flash[:user_email] %>
          <%= label_tag %>
          <%= submit_tag t 'gen.retrieve', :class => 'button-gray' %>
          </div>
        <% end %>
      </div>
      <div id="signup" class="clearfix">
        <% if @user.errors.any? %>
          <p id="error-signup"><%=t 'error'%></p>
        <% end %>
        <%= form_for @user, :url => login_path do |f| %>
          <div>
            <%= f.label t :email %>
            <%= f.text_field :email, :placeholder => t('email') %>
            <% if @user.errors.include? :email %>
              <span><%= @user.errors.get(:email)[0] %></span>
            <% end %>
          </div><div>
            <%= f.label t :email_confirmation %>
            <%= f.text_field :email_confirmation, :placeholder => t('email_confirmation') %>
            <% if @user.errors.include? :email_confirmation %>
              <span><%= @user.errors.get(:email_confirmation)[0] %></span>
            <% end %>
          </div><div>
            <%= f.label t :password %>
            <%= f.password_field :password, :placeholder => t('password') %>
            <% if @user.errors.include? :password %>
              <span><%= @user.errors.get(:password)[0] %></span>
            <% end %>
          </div><div>
            <%= f.label t :password_confirmation %>
            <%= f.password_field :password_confirmation, :placeholder => t('password_confirmation') %>
            <% if @user.errors.include? :password_confirmation %>
              <span><%= @user.errors.get(:password_confirmation)[0] %></span>
            <% end %>
          </div><div>
            <%= f.label t :last_name %>
            <%= f.text_field :last_name, :placeholder => t('last_name') %>
            <% if @user.errors.include? :last_name %>
              <span><%= @user.errors.get(:last_name)[0] %></span>
            <% end %>
          </div><div>
            <%= f.label t :first_name %>
            <%= f.text_field :first_name, :placeholder => t('first_name') %>
            <% if @user.errors.include? :first_name %>
              <span><%= @user.errors.get(:first_name)[0] %></span>
            <% end %>
          </div><div>
            <%= f.label t :title %>
            <%= f.text_field :title, :placeholder => t('title') %>
            <% if @user.errors.include? :title %>
              <span><%= @user.errors.get(:title)[0] %></span>
            <% end %>
          </div><div>
            <%= f.label t :gender %> (<%=t "option"%>)
            <%= f.radio_button :gender, true %> <%=t "male" %>
            <%= f.radio_button :gender, false %> <%=t "female" %>
          </div><div>
            <%= label_tag %>
            <%= f.submit t "gen.get_involved" %>
		  </div>
        <% end %>
      </div>
    </div>
	<% end %>
  </div>
</div>
