<div id="content" class="clearfix">
  <div class="section">
    <div class="article" id="register">
      <h1><span>Log In</span><span>Sign Up</span></h1>
      <div id="login" class="clearfix">
        <% if flash[:error_signin] %>
          <p id="error-signin">Invalid user/password combination.</p>
        <% end %>
        <% if flash[:retrieve_password_notice] %>
          <p id="forget-notification"><%= flash[:retrieve_password_notice] %></p>
        <% end %>
        <%= form_tag login_path, :method => 'post' do %>
		  <div>
          <%= label_tag :email %>
          <%= email_field_tag :email, flash[:user_email] %>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
          <%= label_tag %>
          <%= submit_tag 'Log In' %>
          <%= button_tag 'Forget Password?', :type => 'button', :id => 'forget-button', :class => 'button-gray' %>
          </div>
        <% end %>
        <%= form_tag login_path, :method => 'post', :id => 'forget' do %>
		  <div>
          <%= label_tag :email %>
          <%= email_field_tag :email, flash[:user_email] %>
          <%= label_tag %>
          <%= submit_tag 'Retrieve Password By Email', :class => 'button-gray' %>
          </div>
        <% end %>
      </div>
      <div id="signup" class="clearfix">
        <% if @user.errors.any? %>
          <p id="error-signup">Error(s) occured:</p>
        <% end %>
        <%= form_for @user, :url => login_path do |f| %>
          <div>
            <%= f.label :email %>
            <%= f.text_field :email, :placeholder => 'Email' %>
            <% if @user.errors.include? :email %>
              <span><%= @user.errors.get(:email)[0] %></span>
            <% end %>
          </div><div>
            <%= f.label :email_confirmation, "Confirmation" %>
            <%= f.text_field :email_confirmation, :placeholder => 'Email Confirmation' %>
            <% if @user.errors.include? :email_confirmation %>
              <span><%= @user.errors.get(:email_confirmation)[0] %></span>
            <% end %>
          </div><div>
            <%= f.label :password %>
            <%= f.password_field :password, :placeholder => 'Password' %>
            <% if @user.errors.include? :password %>
              <span><%= @user.errors.get(:password)[0] %></span>
            <% end %>
          </div><div>
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation' %>
            <% if @user.errors.include? :password_confirmation %>
              <span><%= @user.errors.get(:password_confirmation)[0] %></span>
            <% end %>
          </div><div>
            <%= f.label :last_name %>
            <%= f.text_field :last_name, :placeholder => 'Last Name' %>
            <% if @user.errors.include? :last_name %>
              <span><%= @user.errors.get(:last_name)[0] %></span>
            <% end %>
          </div><div>
            <%= f.label :first_name %>
            <%= f.text_field :first_name, :placeholder => 'First Name' %>
            <% if @user.errors.include? :first_name %>
              <span><%= @user.errors.get(:first_name)[0] %></span>
            <% end %>
          </div><div>
            <%= f.label :gender %>
            <%= f.radio_button :gender, true %> Male
            <%= f.radio_button :gender, false %> Female
          </div><div>
            <%= label_tag %>
            <%= f.submit %>
		  </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
