<div id="content" class="clearfix">
	<div class="section">
		<div class="article" id="people">
			<h1 class="tab-nav"><a href="#" data-tab="speaker" class="active"><%=t "people.speaker" %></a><a href="#" data-tab="panelist"><%=t "people.panelist" %></a><a href="#" data-tab="participant"><%=t "people.participant" %></a></h1>
			<div id="speaker" class="active people-page clearfix">
				<%= render :partial => "guests", :locals => { :speakers => @speakers, :layout_type => 0 }%>
			</div>
			<div id="panelist" class="people-page clearfix">
				<%= render :partial => "guests", :locals => { :speakers => @panelists, :layout_type => 0 }%>
			</div>
			<div id="participant" class="people-page clearfix">
				<%= render :partial => "guests", :locals => { :speakers => @participants, :layout_type => 1 }%>
			</div>
		</div>
	</div>
</div>
