<div id="content" class="clearfix">
	<div class="section">
		<div id="advisor" class="people-page article">
			<h1><%=t "team.advisor" %></h1>
			<div class="content">
				<%= render :partial => "guests", :locals => { :speakers => @advisors, :layout_type => 0 }%>
			</div>
		</div>
		<div id="team" class="people-page clearfix article">
			<h1><%=t "team.team" %></h1>
			<div class="content clearfix">
				<p id="team-desc"><%=t "team.our_team"%></p>
				<%= render :partial => "guests", :locals => { :speakers => @members, :layout_type => 1 }%>
			</div>
		</div>
	</div>
</div>