<div id="content" class="clearfix">
	<section class="clearfix">
		<article>
			<div id="random-fact" class="todo-random-fact clearfix">
				<%=render :partial => "randomfacts" %>
			</div>
		</article>
	</section>
	<section id="main">
		<article style="display: none">
			<h1>My Ticket</h1>
			<div class="content">
				<p>Click the button to buy the ticket. Please use the same name and the same email address when you buy the ticket so that we can match your purchase with your account.</p>
				<p><br><a class="button-gray" href="http://cmusummit.eventbrite.com/" target="_blank">Get My Ticket on EventBrite</a></p>
			</div>
		</article>	
		<article>
			<h1>My Calendar</h1>
			<div class="content clearfix" id="my-calendar">
				<p>Go to <a href="/agenda">Agenda</a> and add events to my schedule.</p>
				<div class="session-info">
					<h2>Energy and Environment Panel: Towards a Sustainable Future</h2>
					<div class="description-container">
						<div class="session-stats">
							Time: <span>28 April 2:00 pm - 4:00 pm</span><br>Place: <span>UC Rangos</span>
						</div>
						<a href="#" class="todo-remove">Remove</a>
					</div>
				</div>
				<div class="session-info">
					<h2>Energy and Environment Panel: Towards a Sustainable Future</h2>
					<div class="description-container">
						<div class="session-stats">
							Time: <span>28 April 2:00 pm - 4:00 pm</span><br>Place: <span>UC Rangos</span>
						</div>
						<a href="#" class="todo-remove">Remove</a>
					</div>
				</div>
			</div>
		</article>
		<article>
			<h1>My Contact</h1>
			<div class="content clearfix" id="my-contact">
				<p>Go to <a href="/people">People</a> and add people to my contact to keep in touch.</p>
				<div class="speaker-info">
					<div class="speaker has-image">
                        <div class="image"><%= image_tag 'default_avatar_male.jpg' %></div>
						<div class="bio">
							<h3>Name</h3>
							<h4>Title</h4>
							<h4>Social Media Links</h4>
						</div>
						<a href="#" class="todo-remove">Remove</a>
					</div>
				</div>								
				<div class="speaker-info">
					<div class="speaker has-image">
                        <div class="image"><%= image_tag 'default_avatar_male.jpg' %></div>
						<div class="bio">
							<h3>Name</h3>
							<h4>Title</h4>
							<h4>Social Media Links</h4>
						</div>
						<a href="#" class="todo-remove">Remove</a>
					</div>
				</div>								
			</div>
		</article>
	</section>
	<aside>
		<article id="update-profile">
			<h3>My Profile</h3>
			<div class="content">
				<div id="connect-social-network" style="display: none">
                    <div class="image"><%= image_tag 'default_avatar_male.jpg' %></div>
					<p>Add my social media links to my profile and use the profile picture as my avatar.</p>
					<div class="button-gray" id="facebook-link-button">Add Facebook</div>
					<div class="button-gray" id="renren-link-button">Add Renren</div>
					<form class="social-network-link" id="facebook-link-form">
						<p>Enter Facebook id here:</p>
						<input type="text"><input type="submit" value="Add Facebook" class="button-gray">
						<p>What is my Facebook id?</p><p>Click on your Facebook homepage, and you will see in the address bar https://www.facebook.com/ followed by your id.</p>
					</form>
					<form class="social-network-link" id="renren-link-form">
						<p>Enter Renren id here:</p>
						<input type="text"><input type="submit" value="Add Renren" class="button-gray">
						<p>What is my Renren id?</p><p>Click on your Renren homepage, and you will see in address bar http://www.renren.com/ followed by your id which is followed by /profile.</p>
					</form>
				</div>
				<div id="update-info">
                    <%= form_for @user do |f| %>
                      <%= hidden_field_tag :task, 'update_profile' %>
                      <div>
                        <%= f.label :last_name %>
						<span><%= @user.last_name %></span>
                        <%= f.text_field :last_name, :placeholder => 'Last Name' %>
                      </div><div>
                        <%= f.label :first_name %>
						<span><%= @user.first_name %></span>
                        <%= f.text_field :first_name, :placeholder => 'First Name' %>
                      </div><div>
                        <%= f.label :gender %>
						<span><%= @user.gender ? "Male" : "Female" %></span>
                        <%= f.radio_button :gender, true %> <span class="gender-span">Male</span>
                        <%= f.radio_button :gender, false %> <span class="gender-span">Female</span>
                      </div><div class="change-profile-button-group">
						<button class="button-gray" id="change-profile-button">Change Profile</button>
                        <%= f.submit 'Save Changes', :class => 'button-gray', :id => 'save-changes' %>
						<button class="button-gray" id="change-password-button">Change Password</button>
                      </div>
                    <% end %>
				</div>
				<div id="update-password-div">
                    <%= form_for @user do |f| %>
                      <%= hidden_field_tag :task, 'update_password' %>
                      <div>
                        <%= f.label :password_old, 'Old Password' %>
                        <%= f.password_field :password_old, :placeholder => 'Old Password' %>
                      </div><div>
                        <%= f.label :password, 'New Password' %>
                        <%= f.password_field :password, :placeholder => 'New Password' %>
                      </div><div>
                        <%= f.label :password_confirmation, "Confirmation" %>
                        <%= f.password_field :password_confirmation, :placeholder => 'Confirmation' %>
                      </div><div class="change-profile-button-group">
                        <%= f.submit 'Update Password', :class => 'button-gray' %>
                      </div>
                    <% end %>
				</div>
			</div>
		</article>
		<article id="follow-us">
			<h3>Get Involved</h3>
			<div class="content">
				<div class="clearfix">
					<p>Follow us on your social network.</p>
					<ul id="aside-social-network">
                        <li><a href="https://www.facebook.com/cmusummit"><%= image_tag 'facebook_icon.png' %></a></li>
						<li><a href="http://page.renren.com/601202783"><%= image_tag 'renren_icon.jpg' %></a></li>
						<li><a href="http://weibo.com/cmusummit"><%= image_tag 'weibo_icon.png' %></a></li>
						<li><a href="http://www.linkedin.com/groups/CMU-Summit-4275100"><%= image_tag 'linkin_icon.jpg' %></a></li>
					</ul>
				</div>
			</div>
		</article>
		<%=render :partial => "announcements" %>
	</aside>
	</section>
</div>
