<div id="content" class="clearfix">
	<div class="section" id="main">
		<div class="article" style="display: none">
			<h1>My Ticket</h1>
			<div class="content">
				<p>Click the button to buy the ticket. Please use the same name and the same email address when you buy the ticket.</p>
				<p><br><a class="button-gray" href="http://cmusummit.eventbrite.com/" target="_blank">Get My Ticket on EventBrite</a></p>
			</div>
		</div>
		<% if @user.is_admin %>
		<div class="article">
			<h1>Administration Tools</h1>
			<div class="content">
				<p>
				<%=link_to "Guests Model", guests_path, :target => "_blank" %><br>
				<%=link_to "Presentations Model", presentations_path, :target => "_blank" %><br>
				<%=link_to "Sessions Model", sessions_path, :target => "_blank" %><br>
				Note: administration tools are only available under English version.
				</p>
			</div>
		</div>
		<% end %>
		<div class="article">
			<h1><%=t 'account.h1'%></h1>
			<div class="content clearfix" id="my-calendar">
				<p><%=t('account.p1', :href => link_to(t("gen.agenda"), agenda_path)).html_safe %></p>
                <% @user.presentations.each do |p| %>
				<div class="session-info">
                    <h2><%= p.title %></h2>
					<div class="description-container">
						<div class="session-stats">
                        <%= t 'time' %>: <span><%= (p.date.year == Date.today.year) ? p.time.strftime("%H:%M ") + p.date.strftime('%a %b %d %Y') : t('tba') %></span><br>
                        <%= t 'place' %>: <span><%= (p.venue and p.venue != "") ? p.venue : t('tba') %></span>
						</div>
                        <%= link_to t('remove'), unfollow_presentation_path(p), :class => 'todo-remove', "data-ajax" => true, "data-role" => 'unfollow', :rel => 'nofollow' %>
					</div>
                </div>
                <% end %>
			</div>
		</div>
		<div class="article">
			<h1><%=t 'account.h2' %></h1>
			<div class="content clearfix" id="my-contact">
				<p><%=t('account.p2', :href => link_to(t("gen.people"), agenda_path)).html_safe %></p>
                <% @user.guests.each do |guest| %>
				<div class="speaker-info">
					<div class="speaker has-image">
                        <div class="image"><%= image_tag guest.picture %></div>
						<div class="bio">
                            <h3><%= guest.full_name %></h3>
                            <% guest.title.split('|').each do |title| %>
                                <h4><%= title %></h4>
                            <% end %>
						</div>
                        <%= link_to t('remove'), unfollow_guest_path(guest), :class => 'todo-remove', "data-ajax" => true, "data-role" => 'unfollow', :rel => 'nofollow' %>
					</div>
				</div>
                <% end %>
                <% @user.contacts.each do |c| %>
				<div class="speaker-info">
					<div class="speaker has-image">
                        <% if c.fb_username %>
                          <%= link_to image_tag c.profile_picture, c.fb_profile_url, :target => '_blank', :class => 'image' %>
                        <% else %>
                          <div class="image"><%= image_tag c.profile_picture %></div>
                        <% end %>
						<div class="bio">
                            <h3><%= c.full_name %></h3>
                            <h4><%= c.title %></h4>
                            <h4>
                            </h4>
						</div>
                        <%= link_to t('remove'), unfollow_user_path(c), :class => 'todo-remove', "data-ajax" => true, "data-role" => 'unfollow', :rel => 'nofollow' %>
					</div>
				</div>
                <% end %>
			</div>
		</div>
	</div>
	<div class="aside">
		<div class="article" id="update-profile">
			<h3>My Profile</h3>
			<div class="content">
				<div id="connect-social-network">
					<div id="connect-social-network-intro">
	                    <div class="image"><%= image_tag @user.profile_picture %></div>
						<p>Link social media and use profile picture as avatar.</p>
						<div class="button-gray" id="facebook-link-button">Link Facebook</div>
					</div>
                    <%= form_for @user, :html => { :class => 'social-network-link', :id =>"facebook-link-form" } do |f| %>
						<p>Click on your own Facebook page (not Facebook homepage) and enter your Facebook ID as it appears in the address bar. Don't have a Facebook ID? You can create one in Account Setting.</p>
						<%= f.text_field :fb_username, :placeholder => 'FB Username' %>
						<label>www.facebook.com/</label>
                        <%= f.submit 'Link Facebook', :class => 'button-gray' %>
                    <% end %>
				</div>
				<div id="update-info">
                    <%= form_for @user do |f| %>
                      <%= hidden_field_tag :task, 'update_profile' %>
                      <div>
                        <%= f.label t :last_name %>
						<span><%= @user.last_name %></span>
                        <%= f.text_field :last_name, :placeholder => 'Last Name' %>
                      </div><div>
                        <%= f.label t :first_name %>
						<span><%= @user.first_name %></span>
                        <%= f.text_field :first_name, :placeholder => 'First Name' %>
                      </div><div>
                        <%= f.label t :title %>
						<span><%= @user.title %></span>
                        <%= f.text_field :title, :placeholder => 'Job Title or Position' %>
                      </div><div>
                        <%= f.label t :gender %>
						<span><%= @user.gender.nil? ? t("tba") : (@user.gender ? t("male") : t("female")) %></span>
                        <%= f.radio_button :gender, true %> <span class="gender-span"><%=t 'male' %></span>
                        <%= f.radio_button :gender, false %> <span class="gender-span"><%=t 'female' %></span>
                      </div><div class="change-profile-button-group">
						<button class="button-gray" id="change-profile-button"><%=t 'change_profile' %></button>
                        <%= f.submit t('save_changes'), :class => 'button-gray', :id => 'save-changes' %>
						<button class="button-gray" id="change-password-button"><%= t('change_psw') %></button>
                      </div>
                    <% end %>
				</div>
				<div id="update-password-div">
                    <%= form_for @user do |f| %>
                      <%= hidden_field_tag :task, 'update_password' %>
                      <div>
                        <%= label_tag t(:password_old) %>
                        <%= password_field_tag :password_old, nil, :placeholder => t('password_old') %>
                      </div><div>
                        <%= f.label t :password %>
                        <%= f.password_field :password, :placeholder => t('password') %>
                      </div><div>
                        <%= f.label t :password_confirmation %>
                        <%= f.password_field :password_confirmation, :placeholder => t('password_confirmation') %>
                      </div><div class="change-profile-button-group">
                        <%= f.submit t('save_psw'), :class => 'button-gray' %>
                      </div>
                    <% end %>
				</div>
			</div>
		</div>
		<%=render :partial => "follow" %>
		<%=render :partial => "announcements" %>
	</div>
	</div>
</div>
