<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @keynotes.each do |keynote| %>
  <tr>
    <td><%= keynote.title %></td>
    <td><%= link_to 'Show', keynote %></td>
    <td><%= link_to 'Edit', edit_keynote_path(keynote) %></td>
    <td><%= link_to 'Destroy', keynote, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Keynote', new_keynote_path %>
