<table>
  <tr><td>Last Name:</td><td><%= @submission.last_name %></td></tr>
  <tr><td>First Name:</td><td><%= @submission.first_name %></td></tr>
  <tr><td>Email:</td><td><%= @submission.email %></td></tr>
  <tr><td>Mobile:</td><td><%= @submission.mobile_phone %></td></tr>
  <tr><td>Institute:</td><td><%= @submission.institute %></td></tr>
  <tr><td>Team Size:</td><td><%= @submission.team_size %></td></tr>
  <tr><td>Venture Title:</td><td><%= @submission.venture_title %></td></tr>
  <tr><td>Definition:</td><td><%= @submission.definition %></td></tr>
  <tr><td>Website:</td><td><%= @submission.website %></td></tr>
</table>

