<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @speaker.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @speaker.first_name %>
</p>

<p>
  <b>Title:</b>
  <%= @speaker.title %>
</p>


<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
