<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%=t("gen."+@layout) if @layout %> | <%=t "gen.CMU_SUMMIT" %></title>
  <%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper" class=<%= I18n.locale %>>
    <div id="container">
      <div class="header">
        <div class="nav">
			<%= link_to t("gen.CMU_SUMMIT"), root_path %>
          <ul>
            <li><%= link_to t("gen.home"), root_path, :class => @layout == "home" ? "active" : "" %></li>
            <li><%= link_to t("gen.agenda"), agenda_path, :class => @layout == "agenda" ? "active" : "" %></li>
           	<li><%= link_to t("gen.people"), people_path, :class => @layout == "people" ? "active" : "" %></li>
            <li><%= link_to t("gen.contest"), contest_path, :class => @layout == "contest" ? "active" : "" %></li>
            <li><%= link_to t("gen.info"), info_path, :class => @layout == "info" ? "active" : "" %></li>
            <li><%= link_to t("gen.team"), team_path, :class => @layout == "team" ? "active" : "" %></li>
            <% if session[:user_id] %>
              <li><%= link_to t("gen.account"), todo_path, :class => @layout == "account" ? "active" : "" %></li>
              <li id="nav-login"><%= link_to t("gen.logout"), logout_path %></li>
            <% else %>
              <li id="nav-login"><%= link_to t("gen.get_involved"), login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <%= yield %>

    </div>
    <div class="footer">
      <div>
	    <span><%=t "gen.copyright" %></span>
		<form>
		  <select onchange="location = this.options[this.selectedIndex].value;">
		    <option value="/">Language 语言</option>
			<option value="/?locale=en">English 英语</option>
		    <option value="/?locale=zh">Chinese 中文</option>
		  </select>
		</form>
      </div>
    </div>
  </div>
</body>
</html>
