<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%=@layout%> | CMU Summit</title>
  <%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="container">
      <div class="header">
        <div class="nav">
			<a id="home" href="/"><%= image_tag 'logo50.png' %><span>CMU Summit</span></a>
          <ul>
            <li><%= link_to "Home", root_path, :class => @layout == "Home" ? "active" : "" %></li>
            <li><%= link_to "Agenda", agenda_path, :class => @layout == "Agenda" ? "active" : "" %></li>
           	<li><%= link_to "People", people_path, :class => @layout == "People" ? "active" : "" %></li>
            <li><%= link_to "Contest", contest_path, :class => @layout == "Contest" ? "active" : "" %></li>
            <li><%= link_to "Info", info_path, :class => @layout == "Info" ? "active" : "" %></li>
            <li><%= link_to "Team", team_path, :class => @layout == "Team" ? "active" : "" %></li>
            <% if session[:user_id] %>
              <li><%= link_to "Todo", todo_path, :class => @layout == "Todo" ? "active" : "" %></li>
              <li id="nav-login"><%= link_to "Logout", logout_path %></li>
            <% else %>
              <li id="nav-login"><%= link_to "Get Involved", login_path %></li>
            <% end %>
<!--            <li id="nav-cn"><%= link_to "中文", root_path %></li>-->
          </ul>
        </div>
      </div>

      <%= yield %>

    </div>
    <div class="footer">
      <p>
        ©2012 CMU Summit. Proudly Powered by Unit Interval<br><a  target="_blank" href="https://docs.google.com/spreadsheet/viewform?formkey=dENzd3RGS2NsQ1lVZnhrNzgwcUtERHc6MQ">Tell us what you think</a>
      </p>
    </div>
  </div>
</body>
</html>
