<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>CMU Summit</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="container">
      <header>
        <nav>
			<a id="home" href="/"><%= image_tag 'logo.png' %><span>CMU Summit</span></a>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Agenda", agenda_path %></li>
           	<li><%= link_to "People", people_path %></li>
            <li><%= link_to "Contest", contest_path %></li>
            <li><%= link_to "Info", info_path %></li>
            <li><%= link_to "Team", team_path %></li>
            <% if session[:user_id] %>
              <li id="nav-login"><%= link_to "Todo", todo_path %></li>
              <li id="nav-signup"><%= link_to "Log Out", logout_path %></li>
            <% else %>
              <li id="nav-login"><%= link_to "Log In", login_path %></li>
              <li id="nav-signup"><%= link_to "Sign Up", login_path %></li>
            <% end %>
<!--            <li id="nav-cn"><%= link_to "中文", root_path %></li>-->
          </ul>
        </nav>
      </header>

      <%= yield %>

    </div>
    <footer>
      <p>
        ©2011 CMU Summit. Proudly Powered by <a href="http://theunitinterval.com" title="unit interval">Unit Interval</a> (<a href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dENzd3RGS2NsQ1lVZnhrNzgwcUtERHc6MQ#gid=0">Feedback</a>)
      </p>
    </footer>
  </div>
</body>
</html>
